In [1]:
print("okay")

okay

In [ ]:
mongodb_uri = "mongodb+srv://contidan:contidan@cluster0.zgimvij.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [ ]:

from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://contidan:contidan@cluster0.zgimvij.mongodb.net/?appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

In [2]:
import pandas as pd
from dan_db_connect.mongo_crud import MongoDBOperation
df = pd.read_csv("EasyVisa.csv")
df.head()

  case_id continent  ... full_time_position case_status
0  EZYV01      Asia  ...                  Y      Denied
1  EZYV02      Asia  ...                  Y   Certified
2  EZYV03      Asia  ...                  Y      Denied
3  EZYV04      Asia  ...                  Y      Denied
4  EZYV05    Africa  ...                  Y   Certified

[5 rows x 12 columns]

In [3]:
df.shape

(25480, 12)

In [4]:
mongodb_uri = "mongodb+srv://contidan:contidan@cluster0.zgimvij.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
mongodb_name = "US_VISA"
collection_name = "us_visa_data"

In [6]:
mongo = MongoDBOperation(mongodb_uri,mongodb_name,collection_name)

In [8]:
mongo.bulk_insert("EasyVisa.csv",collection_name)

In [11]:
record = mongo.find({"case_id":"EZYV15"})
record

[{'_id': ObjectId('668ad401f8d54c2de49c7c92'),
  'case_id': 'EZYV15',
  'continent': 'Asia',
  'education_of_employee': "Master's",
  'has_job_experience': 'Y',
  'requires_job_training': 'Y',
  'no_of_employees': 15756,
  'yr_of_estab': 2006,
  'region_of_employment': 'South',
  'prevailing_wage': 220081.73,
  'unit_of_wage': 'Year',
  'full_time_position': 'Y',
  'case_status': 'Certified'}]

In [12]:
mongo

In [13]:
for i, j in enumerate(mongo.):
    print(f"{i}:{j}")

TypeError: 'MongoDBOperation' object is not iterable